<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "../mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.cmfv.dao.GuruMapper">


    <insert id="insertOne">
        insert into t_guru (g_id, g_religionName,g_picture, g_description)
        values (#{id,jdbcType=INTEGER}, #{religionName,jdbcType=VARCHAR}, #{picture,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR})
    </insert>

    <delete id="deleteById">
        delete from t_guru where g_id = #{id}
    </delete>

    <update id="update">
        update t_guru
        <set>
            <if test="religionName != null and religionName != ''">
                g_religionName = #{religionName},
            </if>
            <if test="picture != null and picture != ''">
                g_picture = #{picture},
            </if>
            <if test="description != null and description != ''">
                g_description = #{description},
            </if>
        </set>
        <where>
            g_id = #{id}
        </where>
    </update>

    <resultMap id="select" type="Guru">
        <id property="id" column="g_id"></id>
        <result property="religionName" column="g_religionName"></result>
        <result property="picture" column="g_picture"></result>
        <result property="description" column="g_description"></result>
    </resultMap>

    <select id="selectByPage" resultMap="select">
        select g_id , g_religionName , g_picture , g_description
        from t_guru
        <where>
            <if test="key == 'religionName' ">
                and g_religionName like concat('%',#{value},'%')
            </if>
        </where>
        LIMIT #{begin} , #{end}
    </select>

    <select id="count" resultType="int">
        select count(*) from t_guru
        <where>
            <if test="key == 'religionName' ">
                and g_religionName like concat('%',#{value},'%')
            </if>
        </where>
    </select>


    <insert id="insertBatch">
        insert into t_guru
        values
        <foreach collection="list" separator="," item="guru">
            (#{guru.id,jdbcType=INTEGER}, #{guru.religionName,jdbcType=VARCHAR}, #{guru.picture,jdbcType=VARCHAR}, #{guru.description,jdbcType=VARCHAR})
        </foreach>
    </insert>

    <select id="findAll" resultMap="select">
        select * from t_guru
    </select>








    <select id="selectByPrimaryKey" resultMap="select" parameterType="java.lang.String" >
        select *
        from t_guru
        where g_id = #{id,jdbcType=INTEGER}
    </select>

    <update id="updateByPrimaryKey" parameterType="Guru" >
        update t_guru
        set g_religionName = #{religionName,jdbcType=VARCHAR},
        g_picture = #{picture,jdbcType=VARCHAR},
        g_description = #{description,jdbcType=VARCHAR}
        where g_id = #{id,jdbcType=INTEGER}
    </update>

</mapper>
