<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
                           http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context-4.2.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx-4.2.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.baizhi.cmfv">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"></context:exclude-filter>
    </context:component-scan>

    <context:property-placeholder location="classpath*:/jdbc.properties" />

    <bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
        <property name="driverClassName" value="${jdbc.driver}"></property>
        <property name="url" value="${jdbc.url}"></property>
        <property name="username" value="${jdbc.username}"></property>
        <property name="password" value="${jdbc.password}"></property>
    </bean>

    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.baizhi.cmfv.bean"></property>
        <property name="mapperLocations" value="classpath*:mappers/*Mapper.xml"></property>
        <!--<property name="configLocation" value="classpath:mybatis-config.xml" ></property>-->
    </bean>

    <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
        <property name="basePackage" value="com.baizhi.cmfv.dao"></property>
        <property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"></property>
    </bean>

    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"></tx:annotation-driven>

    <!-- 使用aspectj 风格的aop -->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>




    <!-- shiro的过滤器工厂的对象     负责权限的校验     处理请求的bean  -->
    <bean id="ShiroFilterFactoryBean" class="org.apache.shiro.spring.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"></property>
        <!--  登录页的url地址  -->
        <property name="loginUrl" value="/jsp/login.jsp"></property>
        <property name="unauthorizedUrl" value="/jsp/error.jsp"></property>
        <!--    定义过滤器链的拦截规则    -->
        <property name="filterChainDefinitions">
            <!--
                过滤器 : anon | authc | user | logout | roles | perms
            -->
            <value>
                /manager/login=anon
                /verifCode=anon
                /verification=anon
                /js/**=anon
                /css/**=anon
                /img/**=anon
                /script/**=anon
                /themes/**=anon
                /main/main.jsp=user
                /**=user
            </value>
        </property>
    </bean>

    <!--  初始化web环境下的安全管理器  -->
    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realms">
            <list>
                <ref bean="myRealm"></ref>
            </list>
        </property>
        <!-- 记住我管理器  实现免登录 -->
        <property name="rememberMeManager" ref="rememberMeManager"></property>

        <!-- 缓存管理器 -->
        <property name="cacheManager" ref="ehCacheManager"></property>
    </bean>
    <!--
        ehCache缓存框架    一般适用于本地缓存
     -->
    <bean id="ehCacheManager" class="org.apache.shiro.cache.ehcache.EhCacheManager">
        <!-- classpath:ehcache.xml配置缓存文件 -->
        <property name="cacheManagerConfigFile" value="classpath:ehcache.xml"></property>
    </bean>

    <!-- 声明记住我管理器 -->
    <bean id="rememberMeManager" class="org.apache.shiro.web.mgt.CookieRememberMeManager">
        <property name="cookie" ref="simpleCookie"></property>
    </bean>
    <bean id="simpleCookie" class="org.apache.shiro.web.servlet.SimpleCookie">
        <property name="name" value="rm"></property>
        <property name="maxAge" value="604800"></property>
        <property name="path" value="/"></property>
    </bean>

    <bean id="myRealm" class="com.baizhi.cmfv.util.MyRealm">
        <property name="credentialsMatcher" ref="credentialsMatcher"></property>
    </bean>

    <!-- 基于散列加密 声明复杂的凭证匹配器对象-->
    <bean id="credentialsMatcher" class="org.apache.shiro.authc.credential.HashedCredentialsMatcher">
        <property name="hashAlgorithmName" value="md5"></property>
        <property name="hashIterations" value="512"></property>
    </bean>


</beans>

